<div class="cabecera">
  Mi panel
</div>
<div class="navigation">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link}" href="{{ path('usuario.panel', {'page': 'cuenta'}) }}">Mi cuenta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('usuario.panel', {'page': 'datos'}) }}">Mis datos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{ path('usuario.panel', {'page': 'pedidos'}) }}">Mis Pedidos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('usuario.panel', {'page': 'tarjetas'}) }}">Mis tarjetas</a>
    </li>
  </ul>
</div>
<div class="content">
  {{ drupal_entity('commerce_order', order.id(), 'user') }}
</div>


