<p>Datos del envío:</p>
<p>{{ profile.field_nombre.value }} {{ profile.field_apellidos.value }}</p>
<p>{{ profile.address.postal_code }} {{ profile.address.locality }}, {{ profile.address.administrative_area }}</p>
<p>Tlf.: {{ profile.field_telefono.value }}</p>
